<form ng-submit="pg.filter();blur();">
    <div class="input-group input-group-sm ltr">
        <div class="input-group-prepend">
            <button class="btn btn-outline-dark" type="button" ng-click="filterModal()" ng-if="pg.filterModal">
                <svg class="icon">
                    <use xlink:href="#svg-filter"></use>
                </svg>
            </button>
            <button class="btn btn-outline-dark" type="submit">
                <svg class="icon">
                    <use xlink:href="#svg-search"></use>
                </svg>
            </button>
        </div>
        <input type="text" class="form-control rtl" ng-model="pg.filterForm.search" ng-change="pg.filter()" placeholder="جستجو ..." ng-model-options="{ debounce: 600 }">
    </div>
</form>