<div class="card " ng-controller="logListCtrl">
    <!-- BEGIN SEARCH BAR -->
    <div class="card-header">
        <header>عملکرد سیستم</header>
    </div>
    <div class="card-body">
        <spinner></spinner>
        <div class="mt-3">
            <div class="row">
                <pagination class="col"></pagination>
                <search-toolbar class="col-sm-4 col-lg-3 search-toolbar col"></search-toolbar>
                <chk-all name="لاگ" chk-service="chkService">
                    <a class="dropdown-item" ng-click="deletelogs()">حذف</a>
                </chk-all>
            </div>
        </div>

        <div class="table-responsive rtl fade" ng-class="{show:loaded && logs.length }">
            <table class="table table-bordered text-right table-hover table-sm">
                <thead>
                <tr class="table-active">
                    <th>#</th>
                    <th>تاریخ</th>
                    <th>پیغام</th>
                    <th>اولویت</th>
                    <th>بخش</th>
                    <th>کاربر</th>

                </tr>
                </thead>
                <tbody class="text-sm">
                <tr ng-repeat="log in logs" title="{{log.id}}" ng-class="{'table-dark':log.hidden}"
                    ng-click="show(log)">
                    <td class="" id="{{::log.id}}" index="{{::$index+((pg.number-1)*pg.size)}}"
                        td-checkbox="chkService"></td>
                    <td title="{{log.created|jdateLg}}">{{log.created|jdateSm}}</td>
                    <td class="text-sm">{{log.msg}}</td>
                    <td class="text-center"><span class="badge text-light rtl"
                                                  ng-style="{'background-color': getLevel(log.level).color}">{{getLevel(log.level).title}}</span>
                    </td>
                    <td class="ltr en">{{log.type}}</td>
                    <td>
                        <a href="user/{{log.user_id}}">{{log.user_full_name}} {{log.user_known_as}} <span
                                ng-if="log.user_company">({{log.user_company}})</span></a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <pagination></pagination>
        </div>
    </div>
</div>