@media only screen and (max-width: 768px) {
  /* Force table to not be like tables anymore */
  .az-table table, .az-table thead, .az-table tbody, .az-table tfoot, .az-table tfoot td, .az-table th,
  .az-table td[data-title], .az-table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .az-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .az-table .table > tbody > tr {
    border: 1px solid #ccc;
  }

  .az-table .table > tbody > tr > td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    white-space: normal;
    text-align: right;
  }

  .az-table .table > tbody > tr > td[data-title] {
    padding-right: 21%;
  }

  .az-table td[data-title]:before {
    /* Now like a table header */
    /* Top/left values mimic padding */
    display: inline-block;
    width: 30%;
    //padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
    content: attr(data-title);
  }

  .az-table .table > tbody > tr > td.az-table-row {
    width: 100%;
  }

  .az-table tfoot td, .az-table tfoot th {
    width: 48%;
    border: none !important;
    display: inline-block;
  }

  .az-table {
    .form-group, p, a:not(.navbar-brand) {
      display: inline-block;
      width: 68%;
      text-align: right;
    }
  }

}

#cart-page {

  .img.img-thumbnail {
    width: 70px;
  }
  table {
    tbody {
      p ,.form-group {
        margin-bottom: 0;
      }
      td{
        padding: 0.5rem;
        vertical-align: middle;
      }
    }
  }
  .btn-remove{
    &:hover{
      svg{
        fill: #ff1515;
      }
    }
  }
  p.item-idx {
    text-align: center;
  }

}