#category-page {

  #category-info {
    text-align: right;
    a {
      text-align: right;
      display: inline-block;
      direction: rtl;
    }
    p {
      white-space: pre-line;
      text-align: justify;
      direction: rtl;
    }
    img {
      float: left;
      max-width: 200px;
      margin-right: 15px;
    }
    h4 {
      position: relative;
      padding-right: 12px;
      &:before {
        content: ' ';
        background-color: $primary;
        width: 7px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        line-height: inherit;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    @media only screen and (max-width: 460px) {
      img {
        width: 100%;
        float: none;
        max-width: 100%;
      }

    }

  }
}
