<div class="container mt-4">

    <div class="row">
        <div class="col-sm-4" ng-repeat="product in products">
            <div class="card">
                <img src="https://picsum.photos/200/120" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button ng-click="addToCart(product)" type="button" class="btn btn-primary">اضافه به سبد خرید</button>
                </div>
            </div>
        </div>

    </div>


</div>